
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-theme.min.css";
/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE---------------------------------------
 */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#carousel-container{
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    margin-top: 2%;
}

#about-container{
    padding: 0;
}

#map {
    box-shadow: 0px 2px 10px black;
    z-index: 2;
}

#info {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    background-color: green;
    font-size: 1.4em;
    text-decoration: none;
}

.menu {
    margin-top: 20%;
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
    background-color: #e0e0e0;
}

.menu-link{
    text-decoration: none!important;
}

.logo-text {
    margin-top: 5%;
    padding-left: 10%;
}

@media (max-width: 767px) {
    .menu{
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: center;
        width: 100%;
    }

    .menu-container{
        width: 50%;
    }

    .logo-text {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    #info{
        font-size: 1.2em;
    }
}

#filled-desc{
    font-size: .75em;
    font-style: italic;
}

.item-content {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
}

/* other pages */


@media (min-width: 768px){
    .side-nav {
        position: fixed;
        z-index: 1000;
        float: left;
        background-color: #f6f6f6;
        height: 100%;
        width: 155px;
    }

    .all-items {
        float: right;
        padding-left: 5%;
    }
}

@media (min-width: 992px){
    .side-nav {
        width: 205px;
    }

    .all-items {
        padding-left: 5%;
    }
}
/*top nav*/

#top-nav{
    visibility: hidden;
}

.top-nav-item, .item-name{
    font-family: 'Merriweather Sans', sans-serif;
}

.home-button {
    color:green; 
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.move-for-nav {
    margin-left: 20%;
}

@media (max-width: 767px){
    .side-nav{
        display: none;
    }

    #top-nav{
        visibility: visible;
        display: block;
        z-index: 1000;
    }

    .all-items{
        margin-top: 60px;
        width: 100%;
    }
}

/*end top nav*/

.nav-item{
    width: 190px;
}
.nav-item-btn{
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #f6f6f6;
    text-align: center;
    color: green;
    border-top: 1px solid lightgrey;
    font-family: 'Merriweather Sans', sans-serif;
}

.more-items-link{
    border-bottom: 1px solid lightgrey;
}

.nav-item-btn:active{
    color: lightgreen;
}

#logo-container{
    padding-top: 1%;
}

#shop-logo-link{
    text-align: center;
}

@media (max-width: 991px){
    .nav-item{
        width: 135px;
    }
}

@media (min-width: 768px){
    #donuts-container{
        margin-left: 1%;
    }
}


/*///////////////////////////////////////////////////////////////////////*/
 /*#logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f6f6f6;
 }*/

/*#shop-logo {
    width: 5%;
    height: 5%;
}*/

/*.nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f6f6f6;
}*/

/*Home page*/

/*#products-container {
    display: flex;
    flex-wrap: wrap;
}

#donuts-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#donuts-img {
    width: 80%;
    height: 80%;
    overflow: hidden;
    align-self: center;
}

#kolaches-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#kolaches-img {
    width: 80%;
    height: 80%;
    overflow: hidden;
    align-self: center;
}

#croissants-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#croissants-img {
    width: 80%;
    height: 80%;
    overflow: hidden;
    align-self: center;
}

#burritos-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 40%;
}

#burritos-img {
    width: 80%;
    height: 80%;
    overflow: hidden;
    align-self: center;
}*/

/*about*/

/*#about {
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

*/

/*donut page*/

.item-label {
    color: green;
    font-size: 2em;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
}

/*.donuts-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.donuts-content {
    display: flex;
    flex-direction: column;
}*/